    <div class="blog-masthead">
      <div class="container" id='nav-bar'>
        <nav class="blog-nav">
        <%= link_to 'Home', root_url, class: "blog-nav-item active" %>
        <%= link_to 'New Event', new_event_path, class: "blog-nav-item active" %>
        </nav>
      </div>
    </div>
