<div class="sidebar-module sidebar-module-inset">
  <h3> <%= link_to "#{current_user.name}", user_path(@current_user) %></h3>
  <%= link_to "Logout", logout_path, method: 'delete' %>
  </div>
<div class="sidebar-module">


